html, body
{
	height: auto !important;
}
.pum-container.popmake form, #top .pum-container.popmake form
{
	margin-top: -40px;
	margin-bottom: -40px;
}
.pum-content + .pum-close, .pum-theme-lightbox .pum-content + .pum-close
{
	/* border: none !important;
	background-color: #7566ff !important; */
}
.pum-container.popmake 
{
	max-width: 515px !important;
}